{{template "base" .}}

{{define "content"}}
    <div class="container-fluid">
        <h1>This is about page</h1>
        <p>This came from template data : {{index .StringMap "test"}}</p>

        <p>
            {{if ne (index .StringMap "remote_ip") "" }}
                Your remote IP address is {{index .StringMap "remote_ip"}}
            {{else}}
                I dont know your IP address yet. Visit / so I can set it.
            {{end}}
        </p>
    </div>
{{end}}
